- construire un chatbot pour que les collaborateurs internes puissent facilement réserver un billet d’avion pour leurs prochaines vacances.
- La V1 devra pouvoir identifier dans la demande de l’utilisateur les cinq éléments suivants :
    - Ville de départ
    - Ville de destination
    - Date aller souhaitée du vol
    - Date retour souhaitée du vol
    - Budget maximum pour le prix total des billets
    
Les données:
- historiques d’échange entre un chatbot et un utilisateur.

In [3]:
FRAMES_DATA = 'data/frames/frames.json'

# Library importation

In [4]:
import pandas as pd

# Loading Dataset

In [9]:
## Load the dataset in a Pandas Dataframe (in memory)
data = pd.read_json(FRAMES_DATA)
data.head()

,user_id,turns,wizard_id,id,labels
0,U22HTHYNP,[{'text': 'I'd like to book a trip to Atlantis...,U21DKG18C,e2c0fc6c-2134-4891-8353-ef16d8412c9a,"{'userSurveyRating': 4.0, 'wizardSurveyTaskSuc..."
1,U21E41CQP,"[{'text': 'Hello, I am looking to book a vacat...",U21DMV0KA,4a3bfa39-2c22-42c8-8694-32b4e34415e9,"{'userSurveyRating': 3.0, 'wizardSurveyTaskSuc..."
2,U21RP4FCY,[{'text': 'Hello there i am looking to go on a...,U21E0179B,6e67ed28-e94c-4fab-96b6-68569a92682f,"{'userSurveyRating': 2.0, 'wizardSurveyTaskSuc..."
3,U22HTHYNP,[{'text': 'Hi I'd like to go to Caprica from B...,U21DKG18C,5ae76e50-5b48-4166-9f6d-67aaabd7bcaa,"{'userSurveyRating': 5.0, 'wizardSurveyTaskSuc..."
4,U21E41CQP,"[{'text': 'Hello, I am looking to book a trip ...",U21DMV0KA,24603086-bb53-431e-a0d8-1dcc63518ba9,"{'userSurveyRating': 5.0, 'wizardSurveyTaskSuc..."

In [11]:
data.shape

(1369, 5)

In [10]:
data.describe(include="all")

,user_id,turns,wizard_id,id,labels
count,1369,1369,1369,1369,1369
unique,11,1369,12,1369,16
top,U22K1SX9N,[{'text': 'I'd like to book a trip to Atlantis...,U21T9NMKM,e2c0fc6c-2134-4891-8353-ef16d8412c9a,"{'userSurveyRating': 5.0, 'wizardSurveyTaskSuc..."
freq,345,1,301,1,929

- L'ensemble de données est composé de ***1369 dialogues annotés***.
- Ils sont composés de plusieurs tours.
- Le dialoge est entre un robot et un utilisateur essayant de réserver un vol.

## user_id
There are 11 unique identifier for the user taking part in the dialogue.

In [39]:
list(data.user_id.unique())

['U22HTHYNP',
 'U21E41CQP',
 'U21RP4FCY',
 'U231PNNA3',
 'U2709166N',
 'U22K1SX9N',
 'U24V2QUKC',
 'U23KR88NT',
 'U23KPC9QV',
 'U260BGVS6',
 'U2AMZ8TLK']

## wizard_id
There are 12 unique identifier for the wizard taking part in the dialogue.

In [40]:
list(data.wizard_id.unique())

['U21DKG18C',
 'U21DMV0KA',
 'U21E0179B',
 'U21E41CQP',
 'U22HTHYNP',
 'U1Z7FQTHC',
 'U21T9NMKM',
 'U23KR88NT',
 'U23KS7P33',
 'U23KPC9QV',
 'U260BGVS6',
 'U28KSAJBY']

## labels
- ***userSurveyRating***: A value that represents the user’s satisfaction with the Wizard’s service, ranging from 1 – complete dissatisfaction to 5 – complete satisfaction.

In [13]:
data.labels[0]

{'userSurveyRating': 4.0, 'wizardSurveyTaskSuccessful': True}

In [15]:
labels = pd.json_normalize(data.labels)

In [21]:
list(labels.columns)

['userSurveyRating', 'wizardSurveyTaskSuccessful']

In [22]:
labels.userSurveyRating.describe()

count    1366.000000
mean        4.573419
std         0.839596
min         1.000000
25%         4.000000
50%         5.000000
75%         5.000000
max         5.000000
Name: userSurveyRating, dtype: float64

En moyenne l'utilisateur a bien noté le chatbot.

In [25]:
labels.wizardSurveyTaskSuccessful.value_counts()

True     1287
False      82
Name: wizardSurveyTaskSuccessful, dtype: int64

82 comunication avec le chatbot n'a pas aider l'utilisateur.